p{
    font-size: 20px;
    font-weight: bolder;
    font-style:italic ;
    text-align: justify;
}
div.links{
    display: flex;
}
div.links a{
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius:5px;
}
div.links a:hover{
    background-color: cyan;
}